{% extends 'baseDashboardAdherent.html.twig' %}

{% block title %}Profils
{% endblock %}

{% block body %}
	<div id="main">
		<header class="mb-3">
			<a href="#" class="burger-btn d-block d-xl-none default-color">
				<i class="fa fa-bars fs-3" aria-hidden="true"></i>
			</a>
		</header>

		<h1>
			<span class="title-adherent-pages">Profils</span>
		</h1>
		<section class="profiles" id="profiles">
			<div class="row">
				{% for profil in user.profil %}

					<div class="card mb-3 col-lg-4 card-adherent-profile">
						<div class="row g-0">
							<div class="col-md-6 card-picture">
								<img class="img-fluid profil-card-body-picture" src="{{ asset('pictures/profilPicture/')~ profil.picture }}" alt=" card image cap">
							</div>
							<div class="col-md-6">
								<div class="card-body profil-card-body-adherent">
									<p class="card-text">
										<span class="text-bold-500">Nom :
										</span>
										{{ profil.lastName }}
									</p>
									<p class="card-text">
										<span class="text-bold-500">Prenom :
										</span>
										{{ profil.firstName }}
									</p>
									{% if profil.association %}
										<p class="card-text">
											<span class="text-bold-500">Association :
											</span>
											<span class="badge principal-color">{{ profil.association.name }}</span>
										</p>
									{% endif %}
								</div>
								<div class="card-footer d-flex justify-content-between">
									<a href="{{ path('dashboards_adherent_read', { slug : profil.slug }) }}" class="btn principal-color">
										<i class="fas fa-eye"></i>
									</a>
									<a href="{{ path('dashboards_adherent_edit', { slug : profil.slug }) }}" class="btn btn-warning">
										<i class="fas fa-edit"></i>
									</a>
									{% if profil.association is null %}
										<a href="{{ path('dashboards_adherent_delete', { slug : profil.slug }) }}" class="btn btn-danger">
											<i class="fas fa-trash"></i>
										</a>
									{% endif %}

								</div>
							</div>

						</div>
					</div>
				{% else %}
					<h3>Pensez à créer votre premier profil</h3>
				{% endfor %}
			</div>
		</section>
		<section class="new-profile-section">
			<div class="formProfil-adherent">
				<h1 class="text-center">Nouveau profil</h1>
				{%  include "dashboards/adherent/_forms/_newProfileForm.html.twig"  %}
			</div>
		</section>
	</div>

{% endblock %}
