{% extends 'baseDashboardAdmin.html.twig' %}

{% block title %}Admins!
{% endblock %}

{% block body %}
	<div id="main">
		<header class="mb-3">
			<a href="#" class="burger-btn d-block d-xl-none">
				<i class="fa fa-bars fs-3" aria-hidden="true"></i>
			</a>
		</header>

		<div class="m-2">
			<p>Bienvenue sur la page d'administration de vos admins.</p>
			<p>Pour ajouter un admin cliquez sur le boutton ajouter, renseignez son adresse mail et un mot de passe, il recevra un mail de confirmation pour confirmer son compte.</p>
			<a href="{{ path('dashboards_admin_admins_add' ) }}" class="btn principal-color my-3">Ajouter</a>
		</div>

		<div class="admins-div">

			{% for admin in admins %}

				<div class="card-admin">
					<div class="card-header" style="background-image: url({{ asset('pictures/associations/')~ admin.association.image }}) ; ">

						<div class="card-photo">
							<img src="{{ asset('pictures/admin/')~ admin.picture }}" alt="">
						</div>
					</div>
					<div class="card-admin-body">
						<h3 class="card-admin-name">
							{{ admin.lastName }}
							{{ admin.firstName }}</h3>
					</div>
					<div class="footer">
						<div class="card-button">
							<ul class="card-actions">
								<li>
									<a href="{{ path('dashboards_admin_admins_edit' , { slug : admin.slug } ) }}" class="bg-warning">
										<i class="fas fa-edit"></i>
									</a>
								</li>
								<li>
									<a href="{{ path('dashboards_admin_admins_delete' , { id : admin.id } ) }}" class="bg-danger">
										<i class="fas fa-trash"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				{% else %}

			{% endfor %}
		</div>
	</div>
{% endblock %}
