{% set nbPlacesLeft = event.maxParticipants - event.profiles | length %}
<div class="">
	<div class="card-events">
		<div class="card-event-header">
			<img src="{{ asset('pictures/event/')~ event.picture }}" alt="rover"/>
		</div>
		<div class="card-event-body">
			{% if nbPlacesLeft <= 0  %}
				<span class="tag tag-second-color-background">Complet</span>
			{% else %}
				<span class="tag {{ nbPlacesLeft > 10 ? 'tag-success' : 'tag-danger' }}">
					Places libre :
					{{ nbPlacesLeft }}</span>
			{% endif %}
			<h4>
				{{ event.name }}
			</h4>
			<h6>
				{{ event.startDate | date("d-m-Y") }}
				-
				{{ event.endDate | date("d-m-Y") }}
			</h6>
			<h6 class="card-text">
				<span class="text-bold-500"></span>
				{{ event.schedule | format_datetime('none', 'short', locale='en') }}
			</h6>
			<p class="card-text">
				<span class="text-bold-500"></span>
				{{ event.place}}
			</p>
			<div class="card-event-actions">
				<a href="{{ path }}" class="btn principal-color profil">
					{{ buttonName }}
				</a>
			</div>
		</div>

	</div>
</div>
