{% extends 'baseDashboardAdherent.html.twig' %}

{% block title %}Events
{% endblock %}

{% block body %}
	<div id="main">

		<div class="row">
			{% if profile.association is not null %}
				<h2>Mes evenements</h2>
				{% for event in profile.event %}
					<div class="card col-3 p-0 event-card-body">
						<img class="img-fluid event-card-body-picture" src="{{ event.picture }}" alt=" card image cap">
						<div class="card-content text-center">
							<div class="card-body event-card-body-adherent">
								<h3 class="card-text">
									<span class="text-bold-500"></span>
									{{ event.name }}
								</h3>
								<p class="card-text">
									<span class="text-bold-500"></span>
									{{ event.startDate | date("d-m-Y") }}
									-
									{{ event.endDate | date("d-m-Y") }}
								</p>
								<p class="card-text">
									<span class="text-bold-500"></span>
									{{ event.schedule | format_datetime('none', 'short', locale='en') }}
								</p>
								<p class="card-text">
									<span class="text-bold-500"></span>
									{{ event.place}}
								</p>
								<p class="card-text">
									<span class="text-bold-500">
										Max Participants:
									</span>
									{{ event.maxParticipants }}
								</p>
								<a href="{{ path('dashboards_adherent_events_unregister', { slug : profile.slug , eventId : event.id }) }}" class="btn btn-primary">Se désinscrire</a>
							</div>
						</div>
					</div>
					{% else %}

				{% endfor %}
			</div>


			<div class="row">

				<h2>Les evenements de :
					{{profile.association.name}}
				</h2>
				{% if eventNotSubscribedByTheProfile | length > 0 %}

					{% for event in eventNotSubscribedByTheProfile %}
						<div class="card col-3 p-0 event-card-body">
							<img class="img-fluid event-card-body-picture" src="{{ event.picture }}" alt=" card image cap">
							<div class="card-content text-center">
								<div class="card-body event-card-body-adherent">
									<h3 class="card-text">
										<span class="text-bold-500"></span>
										{{ event.name }}
									</h3>
									<p class="card-text">
										<span class="text-bold-500"></span>
										{{ event.startDate | date("d-m-Y") }}
										-
										{{ event.endDate | date("d-m-Y") }}
									</p>
									<p class="card-text">
										<span class="text-bold-500"></span>
										{{ event.schedule | format_datetime('none', 'short', locale='en') }}
									</p>
									<p class="card-text">
										<span class="text-bold-500"></span>
										{{ event.place}}
									</p>
									<p class="card-text">
										<span class="text-bold-500">
											Max Participants:
										</span>
										{{ event.maxParticipants }}
									</p>
									<a href="{{ path('dashboards_adherent_events_register', { slug : profile.slug , eventId : event.id }) }}" class="btn btn-primary">S'inscrire</a>
								</div>
							</div>
						</div>
					{% endfor %}

					{% else %}

				{% endif %}
			{% else %}
				<h1 class="text-center">
					Pas d'evenements
				</h1>
			{% endif %}
		</div>
	</div>
{% endblock %}
