<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Auth -
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,200&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/logo.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/Auth/login.css') }}">

		{% endblock %}


		{% block javascripts %}
			<script src="//code.jquery.com/jquery.js"></script>
			<!-- Load Flashy default JavaScript -->
			<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
		{% endblock %}
	</head>
	<body>

		{% block body %}{% endblock %}
		{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
	</body>
</html>
