{% extends 'baseDashboardAdmin.html.twig' %}

{% block title %}Profiles
{% endblock %}

{% block body %}
	<div id="main">

		<header class="mb-3">
			<a href="#" class="burger-btn d-block d-xl-none">
				<i class="fa fa-bars fs-3" aria-hidden="true"></i>
			</a>
		</header>
		<div class="row">
			<h1>
				<span class="title-adherent-pages">Profils</span>
			</h1>
			{% for profile in profiles %}
				{% set fileComplete = null %}
				{% set paid = null %}
				{% set valid = null %}
				{% if profile.file is not null %}
					{% set fileComplete = profile.file.isComplete %}
					{% set valid = profile.file.isValid %}
					{% set paid = profile.file.isPaid %}
				{% endif %}

				<div class="card-profiles-admins col-lg-3 my-5">
					<div class="img-bx">
						<img src="{{ asset('pictures/profilPicture/')~ profile.picture }} " alt="{{ profile.firstName }} "/>
					</div>
					<div class="content">
						<div class="detail">
							<h2>
								{{ profile.lastName }}
								{{ profile.firstName }}
								<br/><span>Rejoint le
									{{ profile.joinedAssocAt | date('d-m-Y') }}
								</span>
							</h2>
							<ul class="list-infos">
								<li>
									<a href="#" class="text-white {{ fileComplete ? 'bg-success': 'bg-danger' }}">
										<i class="far fa-folder"></i>
									</a>
								</li>
								<li>
									<a href="#" class="text-white {{ valid ? 'bg-success': 'bg-danger' }}">
										<i class="far fa-check-circle"></i>
									</a>
								</li>
								<li>
									<a href="#" class="text-white {{ paid ? 'bg-success': 'bg-danger' }}">
										<i class="fas fa-file-invoice-dollar"></i>
									</a>
								</li>
								<li>
									<a href="{{ path('dashboards_admin_profiles_edit' , { slug : profile.slug } ) }}" class="text-white bg-warning">
										<i class="fas fa-edit"></i>
									</a>
								</li>
								<li>
									<a href="{{ path('dashboards_admin_profiles_delete' , { id : profile.id } ) }}" class="text-white bg-danger">
										<i class="fas fa-trash"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>


				{% else %}

			{% endfor %}
		</div>
	</div>
{% endblock %}
